<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>CRM Система</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <a class="navbar-brand" href="#">CRM Система</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/applications}">Все Заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/applications/filter(handled='false')}">Новые Заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/applications/filter(handled='true')}">Обработанные заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold" th:href="@{/applications/add}">+ Добавить заявку</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-12" layout:fragment="secondFragment">

        </div>
    </div>
</div>


<footer class="bg-light text-center py-3 mt-4">
    <span>Copyright &copy; All Rights Reserved</span>
</footer>

<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</body>
</html>
