<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/layouts/taskLayout.html">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div layout:fragment="firstFragment">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active" style="width: 100%;">
                <img src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://plus.unsplash.com/premium_photo-1664474619075-644dd191935f?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW1hZ2V8ZW58MHx8MHx8fDA%3D" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div layout:fragment="secondFragment">
    <form th:action="@{'/addTask'}" method="post">
        <label class="form-label">TASK NAME:</label>
        <input class="form-control" type="text" name="taskName">
        <label class="form-label">TASK DESCRIPTION:</label>
        <input class="form-control" type="text" name="taskDescription">
        <label class="form-label">TASK DEADLINE:</label>
        <input class="form-control" type="date" name="taskDeadline">
        <label class="form-label">COMPLETED:</label>
        <select class="form-select" name="taskStatus">
            <option>NO</option>
            <option>YES</option>
        </select>
        <br>
        <button class="btn btn-success" type="submit">Add</button>
    </form>
    <br>

</div>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
</body>
</html>