<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/taskLayout.html"
>
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<div layout:fragment="thirdFragment">
    <button class="btn btn-primary">+ Add New Task</button>
</div>
<div layout:fragment="firstFragment">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active" style="width: 100%">
                <img src="https://avatars.mds.yandex.net/i?id=dfe12e9869f7b981546ad2fbf8f5bbec1ada60ca-9223201-images-thumbs&n=13" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="width: 100%">
                <img src="https://avatars.mds.yandex.net/i?id=1b8e0e70d61637c540f4f74748bba9fe24c7c2a2-5241344-images-thumbs&n=13" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="width: 100%">
                <img src="https://avatars.mds.yandex.net/i?id=dfe12e9869f7b981546ad2fbf8f5bbec1ada60ca-9223201-images-thumbs&n=14" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div layout:fragment="secondFragment">
  <form th:action="@{'/saveTask'}" method="post">
      <label class="form-label">TASK NAME:</label>
      <input class="form-control" type="text" name="taskName" th:value="${task.getName()}">
      <label class="form-label">TASK DESCRIPTION:</label>
      <input class="form-control" type="text" name="description" th:value="${}">
      <label class="form-label">DEADLINE DATE:</label>
      <input class="form-control" type="date" name="date">
      <label class="form-label">COMPLETED:</label>
      <select class="form-select" name="complete">
          <option th:if="${task.isComplited()}" th:text="YES">YES</option>
          <option th:if="${task.isComplited()}" th:text="NO">NO</option>
      </select>
      <br>
      <button class="btn btn-success" type="submit">SAVE</button>
      <button class="btn btn-success"> DELETE</button>
  </form>
</div>

</body>
<script src="/js/bootstrap.bundle.js" type="text/javascript" ></script>
</html>